@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #000000;
  --background-start-rgb: #f8faf9;
  --background-end-rgb: #FFFFFF;
  --header-background: #ffffff45;
}

[ data-theme="dark"] {
  --foreground-rgb: #f8faf9;
  --background-start-rgb: #13181b;
  --background-end-rgb: #000;
  --header-background: #03010113;
}

@font-face {
  font-family: 'Arima';
  src: url('../public/fonts/Arima/Arima-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  src: url('../public/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Playfair';
  src: url('../public/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  src: url('../public/fonts/Lato/Lato-Regular.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open sans";
  font-size: 17px;
  color: var(--foreground-rgb);
  background: transparent;
  background: linear-gradient(to bottom, transparent, var(--background-end-rgb)) var(--background-start-rgb);
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


section {
  width: 100%;

}

h1,
h2 {
  font-family: "Lato";
}

h2 {
  font-size: 48px;
}

nav{
  background-color: var(--header-background);
}

.nav-links li {
color: #f8faf9;
}
.language-selector,
.language-selector {
  box-shadow: 0 0 2px var(--foreground-rgb);
}

.menu-icons {
  background-color: var(--foreground-rgb);
}

.burger {
  color: var(--background-end-rgb);
  /* color: var(--foreground-rgb); */
}

.font-playfair{
  font-family: "Playfair";
}

.artisanIllustration{
  object-fit: cover;
}

.border-solid{
  border: solid;
}
.separator {
  width: 40px;
  height: 1px;
  background-color: var(--foreground-rgb);
}

.hyphen{
  width: 30px;
  height: 7px;
  margin-left: 25px;
  background-color: var(--foreground-rgb);
}

hr {
  height: 1.5px;
  border-color: var(--foreground-rgb);
}

.services li {
  list-style: disc;
  width: 220px;
}

.minus,
.plus {
  width: 100%;
  height: 1.5px;
  border: 1px solid var(--foreground-rgb);
}

.plus {
  position: absolute;
  transform: rotate(270deg);
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.height-0 {
  height: 0;
  transition: all .7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.service-content {
  margin: 0;
  height: 0px;
  max-height: 0;
  overflow: hidden;
  transition: all .5s ease-in-out;
  transition: margin all .5s ease-in-out;
}

.service-content.service-deployed {
  margin: 1.5rem 0;
  height: 100%;
  max-height: 100%;
}


.project-col {
  width: 50%;
  max-width: 50%;
}

.project-image,
.project-image img {
  height: 500px;
  border-radius: 2.344vw;
}


.project-image {
  background-color: white;
  overflow: hidden;
}

.project-image img {
  width: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
  filter: grayscale(60%);
}

.project-image img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}
.description{
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  justify-content: flex-end;
  position: relative;
}
.description-text{
  line-height: 22px;
}
.description-text.more{
  width: calc(100% - 73.41px);
  text-wrap: nowrap;
  max-height: 22px;
  overflow: hidden;
  text-overflow: hidden;
  position: absolute;
  left: 0;
}
.description-text.less{
  width: 100%;
  text-wrap: wrap;
  overflow: unset;
  text-overflow: unset;
  max-height: unset;
  position: relative;
}
.see-more{
  font-size: 15px;
  font-weight: 500;
  text-overflow: hidden;
  text-wrap: nowrap;
  cursor: pointer;
}
.see-more.visible{
  width: 100%;
  text-align: right;
}

.skill:hover{  
  color: white;
  background-color: var(--foreground-rgb);
}

.skill.blue:hover{
  background-color: #23A6F0;
  border-color: #23A6F0;
}
.skill.purple:hover{
  background-color: purple;
  border-color: purple;
}
.skill.orange:hover{
  background-color: rgb(253, 160, 20);
  border-color: rgb(238, 167, 35);
}
.skill.cyan:hover{
  background-color: rgb(13, 245, 195);
  border-color: cyan;
}
.skill.green:hover{
  background-color: rgb(3, 184, 3);
  border-color: rgb(3, 184, 3);
}

.skill.dark:hover{
  color: #f8faf9;
  background-color: rgb(63 63 70 );
  border-color: rgb(63 63 70 );
}



.rounded {
  white-space: nowrap;
  padding: 2px 10px;
  border: 1px solid var(--foreground-rgb);
  border-radius: 20px;
}

.dream-container {
  position: relative;
  border: 2px solid #4169E1;
  box-shadow: 0 0 2px #E6E6FA;
  border-radius: 2.344vw;
  background-position: 100% 0;
  width: 100%;
}

.dream-container:before,
.dream-container:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 2.344vw;
  background-repeat: no-repeat;
  background-size: auto;
}

.dream-container:before {
  background-image: url('../public/svg/dream-wave.svg');
  background-position-y: top;
  background-position-x: right;
  opacity: 1;
}

.dream-container:after {
  background-image: url('../public/svg/dream-wave2.svg');
  background-position-x: left;
  background-position-y: bottom;
  opacity: 1;
}


.principle {
  padding: 15px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 0 2px var(--foreground-rgb);
  backdrop-filter: blur(14px);
}

.principle-img,
.principle-img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.marquee {
  font-size: 68px;
  font-family: "Lato";
}

.s-label {
  font-family: Open sans;
  font-weight: 500;
  font-size: 18px;
}

.contact-form{
  height: fit-content;
  transition: height 1s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
}

.contact-container {
  border: 1px solid var(--foreground-rgb);
  border-radius: 1.563vw;
  /* padding: 1.234vw; */
}

.formSent{
  /* background-color: #f8fafc; */
  font-size: 16px;
}
.emoji{
  background-color: var(--foreground-rgb);
  color: var(--background-start-rgb);
  width: 80px;
  height: 80px;
  border-radius: 100px;
}


.currency {
  cursor: pointer;
}

.budgetCurrency {
  border: none;
  padding: 0;
  margin: 0;
}

.clientBudget,
.clientInterest {
  color: var(--background-end-rgb);
  background-color: var(--foreground-rgb);
  border: 1px solid var(--foreground-rgb);
}


.error{
  font-size: 14px;
  color: rgb(230, 11, 11);
}


.contact-infos div {
  width: 50%;
}
.contact-infos input {
  padding: 5px 15px;
  border: 1px solid var(--foreground-rgb);
  border-radius: .7vw;
}

.contact-infos input::placeholder {
  font-size: 14px;
  color: var(--foreground-rgb);
}

li {
  list-style: none;
}

.toggle {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}


.d-none {
  display: none;
}


main {
  padding: 0 0px;
}

section{
  padding: 100px 64px!important;
}
section#hero{
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn.cta {
  padding: 16px 12px;
  font-family: "Open sans";
  position: relative;
  overflow: hidden;
  position: relative;
  color: var(--foreground-rgb);
  border: 1px solid var(--foreground-rgb);
  background-color: transparent;
  transition: background-color 0.4s ease;
}

.learn-cta {
  margin: 40px 0;
}

.cta-text {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  z-index: 2;
}

.cta-transition,
.cta-bottom-transition {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--foreground-rgb);
  transition: left 0.4s ease;
  z-index: 1;
}

.cta-bottom-transition {
  left: 0;
  /* bottom: 100%; */
  height: 0;
  transition: all 0.5s ease;
}

.btn.cta:hover .cta-bottom-transition {
  bottom: 0;
  height: 100%;
}

.btn.cta:hover .cta-transition {
  left: 0;
  width: 100%;
}

.btn.cta:hover {
  color: var(--background-end-rgb);
}

.desktop{
  display: flex;
}
.desktop-n-tab{
  display: block;
}
.mobile{
  display: none;
}

@media screen and (max-width: 1200px) {
  
  main {
    padding: 0;
  }

  section{
    padding: 100px 64px!important;
  }

  .arguments-col {
    flex-direction: column;
    gap: 20px;
  }

  .argument {
    width: 100%;
    max-width: 100%;
    gap: 1rem;
  }

  .arg-content {
    gap: .2rem;
  }

  .service-row {
    width: 100%;
  }

  .services li {
    width: 48%;
  }
}

@media screen and (max-width: 999px) {

  .desktop{
    display: none;
  }
  .mobile{
    display: flex;
  }

  .nav-links ul {
    color: var(--foreground-rgb);
    background-color: var(--menu-background-rgb);
    box-shadow: 0px 2px 2px #ffffff33 ;
  }

  main {
    font-size: 15px;
  }
  section{
    padding: 70px 40px!important;
  }

  h2 {
    font-size: 40px;
  }

  .text-\[32px\] {
    font-size: 24px;
  }

  .text-\[24px\] {
    font-size: 20px;
  }
  .text-\[20px\] {
    font-size: 18px;
  }

  #hero {
    padding-top: 100px;
  }

  .gap-32{
    gap: 4rem ;
  }
  .gap-24 {
    gap: 4rem;
  }
  .gap-20{
    gap: 2rem;
  }
  .gap-16{
    gap: 2.5rem;
  }
  .gap-8{
    gap: 1.5rem;
  }
  .gap-6{
    gap: 1rem;
  }
  hr.mt-6{
    margin-top: .7rem;
  }
  
  .learn-cta{
    margin: 15px 0;
  }

  .py-\[150px\]{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .artisans .right-side{
    height: 300px;
  }

  .sides-section {
    flex-direction: column;
  }

  .left-side,
  .right-side {
    width: 100%;
  }

  .projects {
    flex-direction: column;
    gap: 4rem;
  }

  .project-col {
    width: 100%;
    max-width: 100%;
  }

  .project-image,
  .project-image img {
    height: 600px;
    border-radius: 2.344vw;
  }
  
  .principle1 {
    order: 1;
  }

  .principle2 {
    order: 3;
  }

  .principle3 {
    order: 2;
  }
}

@media screen and (max-width: 767px) {
  

  .desktop-n-tab{
    display: none;
  }

  main {
    padding: 0;
  }

  section{
    padding: 50px 20px!important;
  }

  .section-label{
    gap: 10px;
    font-size: 16px;
  }
  .s-label{
    font-size: 16px;
    font-weight: 500;
  }
  .separator{
    width: 25px;
  }
  
  .introduction{
    padding-bottom: 0;
  }
  .introduction:first-of-type {
    padding: 100px 0px 10px 0px;
  }
  .introduction:last-of-type {
    padding: 50px 0px 100px 0px;
  }

  .introduction h2{
    font-size: 42px;
    padding-top: 12px;
  }

  .learn-cta{
    margin: 0;
  }

  .artisans{
    flex-direction: column;
    gap: 22px;
  }
  
  .artisans .left-side h2{
    text-align: left;
    font-size: 22px;
  }
  .artisan-role{
    font-size: 28px;
  }

  .artisans .right-side{
    height: 420px;
    max-height: 420px;
  }
  .artisans .right-side img{
    /* max-width: 90%; */
    margin: 0 auto;
    width: 100%;
  }
  .artisans .right-side img{
    object-fit: scale-down;
  }

  .hero-lead{
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
  .hero-lead p, .hero-cta{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  h2 {
    font-size: 34px;
  }
  .text-\[48px\]{
    font-size: 42px;
  }
  .introduction p {
    padding: 0 5%;
  }

  .service-accordion svg{
    width: 35px;
    height: 35px;
  }
  .service-accordion .gap-8{
    gap: 1rem;
  }

  .projects {
    flex-direction: column;
    gap: 4rem;
  }

  .project-col {
    width: 100%;
    max-width: 100%;
  }

  .project-image,
  .project-image img {
    height: 400px;
    border-radius: 2.344vw;
  }
  
  .sides-section {
    gap: 24px;
  }


  #book-journey {
    padding: 100px 10px;
  }
  .dream-container {
    padding: 5%;
    padding-bottom: 10%;
    max-height: 96vh;
  }

  .dream-part1 {
    padding: 0;
  }

  .dream-part2 {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .dream-part2 p {
    text-align: center;
  }

  .dream-part2 div {
    width: 100%;
  }

  .arguments-col {
    gap: 30px;
  }

  #marquee{
    padding: 30px 0;
  }
  .marquee1, .marquee2{
    gap: 15px;
  }
  .marquee {
    font-size: 34px;
  }

  .hyphen{
    width: 15px;
    height: 4px;
    margin-left: 15px;
    background-color: var(--foreground-rgb);
  }

  #contact h3{
    width: 80%;
  }

  .contact-container{
    padding: 1rem;
  }
  .contact-infos {
    flex-direction: column;
  }
  
  .contact-infos div {
    width: 100%;
  }

}

@media screen and (max-width:460px) {
  
  .artisans .right-side{
    height: 300px;
    max-height: 300px;
  }
  .mobile-sm{
    display: flex;
  }
  .description p{
    font-size: 14px;
  }
}
@media screen and (max-width:350px) {
  
  .artisans .right-side{
    height: 270px;
    max-height: 270px;
  }
}

nav, main, .dream-container, #marquee, .footer{
  max-width: 2500px;
  margin: 0 auto;
}