@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #000000 ;
  --background-start-rgb: #f8faf9 ;
  --background-end-rgb: #FFFFFF;
}

[ data-theme = "dark" ] {
  --foreground-rgb: #f8faf9 ;
  --background-start-rgb: #222222 ;
  --background-end-rgb: #000000;
}

@font-face {
  font-family: 'Arima';
  src: url('../public/fonts/Arima/Arima-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  src: url('../public/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Playfair';
  src: url('../public/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  src: url('../public/fonts/Lato/Lato-Regular.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open sans";
  color: var(--foreground-rgb);
  background: linear-gradient(to bottom, transparent, var(--background-end-rgb)) var(--background-start-rgb);
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


section {
  width: 100%;

}

h1, h2{
  font-family: "Playfair"; 
}

.language-selector, .language-selector{
  box-shadow: 0 0 2px var(--foreground-rgb);
  /* border: .5px solid var(--foreground-rgb); */
}
.separator {
  width: 40px;
  height: 1px;
  background-color: var(--foreground-rgb);
}

hr {
  height: 1.5px;
  border-color: var(--foreground-rgb);
}

.services li {
  list-style: disc;
  width: 220px;
}

.minus,
.plus {
  width: 100%;
  height: 1.5px;
  border: 1px solid var(--foreground-rgb);
}

.plus {
  position: absolute;
  transform: rotate(270deg);
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.height-0 {
  height: 0;
  transition: all .7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.service-content {
  margin: 0;
  height: 0px;
  max-height: 0;
  overflow: hidden;
  transition: all .5s ease-in-out ;
  transition: margin all .5s ease-in-out ;
}

.service-content.service-deployed{
  margin: 1.5rem 0;
  height: 100%;
  max-height: 100%;
}


.project-col {
  width: 50%;
}

.project-image,
.project-image img {
  height: 500px;
  border-radius: 2.344vw;
}

.project-col {
  width: 50%;
  max-width: 50%;
}

.project-image {
  background-color: white;
  overflow: hidden;
}

.project-image img {
  width: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
  filter: grayscale(80%);
}

.project-image img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

.rounded {
  white-space: nowrap;
  padding: 2px 10px;
  border: 1px solid var(--foreground-rgb);
  border-radius: 20px;
}

.dream-container {
  position: relative;
  border: 1px solid var(--foreground-rgb);
  border-radius: 2.344vw;
  background-position: 100% 0;
  width: 100%;
}

.dream-container:before,
.dream-container:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
  border-radius: 2.344vw;
  background-repeat: no-repeat; 
  background-size: cover;
}

.dream-container:before {
  background-image: url('../public/svg/dream-wave.svg'); 
  opacity: 1;
}

.dream-container:after {
  background-image: url('../public/svg/dream-wave2.svg'); 
  opacity: .6;
}


.principle {
  padding: 15px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 0 2px var(--foreground-rgb);
  backdrop-filter: blur(14px);
}

.principle-img,
.principle-img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.marquee1, .marquee2{
  font-family: "Lato";
}
.hyphen{
  margin-left: 25px;
  width: 20px;
  height: 5px;
  background-color: var(--foreground-rgb);
  border: 1px solid var(--foreground-rgb);
}

.s-label {
  font-family: "Playfair";
  font-weight: 500;
  /* letter-spacing: 2px; */
  font-size: 22px;
}

.contact-container {
  border: 1px solid var(--foreground-rgb);
  border-radius: 1.563vw;
  /* padding: 1.234vw; */
}

.currency {
  cursor: pointer;
}

.budgetCurrency {
  border: none;
  padding: 0;
  margin: 0;
}
.clientBudget, .clientInterest{
  color: var(--background-end-rgb);
  background-color: var(--foreground-rgb);
  border: 1px solid var(--foreground-rgb);
}

input {
  width: 50%;
  padding: 5px 15px;
  border: 1px solid var(--foreground-rgb);
  border-radius: .7vw;
}

input::placeholder {
  font-size: 14px;
  color: var(--foreground-rgb);
}

li {
  list-style: none;
}

.toggle {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}


.d-none {
  display: none;
}


main{
  padding: 0 64px;
}


.btn.cta {
  padding: 16px 12px;
  font-family: "Open sans";
  position: relative;
  overflow: hidden;
  position: relative;
  color: var(--foreground-rgb);
  border: 1px solid var(--foreground-rgb);
  background-color: transparent;
  transition: background-color 0.4s ease; 
}
.learn-cta{
  margin: 40px 0;
}

.cta-text {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  z-index: 2;
}

.cta-transition, .cta-bottom-transition {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--foreground-rgb);
  transition: left 0.4s ease;
  z-index: 1;
}

.cta-bottom-transition{
  left: 0;
  /* bottom: 100%; */
  height: 0;
  transition: all 0.5s ease;
}
.btn.cta:hover .cta-bottom-transition {
  bottom: 0;
  height: 100%;
}

.btn.cta:hover .cta-transition {
  left: 0;
  width: 100%;
}

.btn.cta:hover {
  color: var(--background-end-rgb);
}



@media screen and (max-width: 999px){
    
  main{
    padding: 0 40px   ;
  }

  .introduction{
    padding: 200px 100px;
  }

  .sides-section{
    flex-direction: column;
  }
  .left-side, .right-side{
    width: 100%;
  }

  .projects{
    flex-direction: column;
    gap: 4rem;
  }
  .project-col{
    width: 100%;
    max-width: 100%;
  }

  .principle1{
    order: 1;
  }
  .principle2{
    order: 3;
  }
  .principle3{
    order: 2;
  }
}

@media screen and (max-width: 767px){
  main{
    padding: 0 20px   ;
  }

  .introduction{
    padding: 200px 10px;
  }
  .introduction p{
    padding: 0 20%;
  }
  .projects{
    flex-direction: column;
    gap: 4rem;
  }
  .project-col{
    width: 100%;
    max-width: 100%;
  }

  .sides-section{
    gap: 24px;
  }
  .arguments-col{
    flex-direction: column;
  }
  .argument{
    width: 100%;
    max-width: 100%;
  }
  .service-row{
    width: 100%;
  }
  .services li {
    width: 48%;
  }

  #book-journey{
    padding: 10px;
  }
  .dream-container{
  padding: 5%;
    padding-bottom: 10%;
  }
  .dream-part1{
    padding: 0;
  }
  .dream-part2{
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .dream-part2 p{
    text-align: center;
  }
  .dream-part2 div{
    width: 100%;
  }

  .arguments-col{
    gap: 30px;
  }

  
}